* {
    box-sizing: border-box;
    padding: 2;
    margin: 2;
}

body {
    background-color: aqua;
}

header {
    margin-top: 70px;
    padding: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    background-color: darkcyan;
    color: antiquewhite;
    border-style: double;
    border-color: midnightblue;
}
.MyWork {
    background-color: coral;
    padding: 0px;
    border-style: solid;
    border-color: antiquewhite;
    border-radius: 30px;
    
}


nav {
    position: fixed;
    top: 0;
    width: 99.2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: cornflowerblue;
    border-style: solid;
    border-color: darkblue;
    
}
nav ul li {
    display: inline-block;
    padding: 2px;
    margin-left: 30px;
    
}
article {
    flex: 4 2 100%;
    background-color: aquamarine;
    border-style: ridge;
    border-width: 10px;

}
article h2, h3, p {
    text-align: center;
}
article img {
    display: block;
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}
section {
    padding: 20px;
    float:left;
    width: 50%;
    height: 50%;
    background-color: blue;


}

section h2 {
    font-size: 28px;
    color: antiquewhite;
    margin-left: 100px;

}

.bigproject {
    flex: 1 0 100%;
    text-align: center;
    border-style: groove;
    border-width: 10px;

}
    
.project {
    flex: 1 0 50%;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    border-style: groove;
    border-width: 10px;
    
    

}
.bigproject header {
    padding: 10px;
    background-color: coral;
    color: antiquewhite;
    border-style: solid;
    border-color: antiquewhite;
    border-radius: 30px;
    


}

.bigproject img {
    max-width: 50%;
    max-height: 50%;
}


footer {
    background-color: blueviolet;
    border-style: solid;
    border-color: goldenrod;
}
footer ul li {
    display: inline-block;
    padding: 5px;
    margin: 1px 50px 1px 0;
}

@media screen and (max-width: 1000px) {
    .bigproject {
        background: darkblue;
    }
    
}

@media screen and (max-width: 600px) {
    .project {
        flex: 3 2 100%;
        background: darkblue;
        color: antiquewhite;
    }

    
}